<!DOCTYPE html><!--suppress HtmlFormInputWithoutLabel, HtmlFormInputWithoutLabel -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta content="widt=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<!-- Bootstrap CSS -->
	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
	<title>Registration</title>
	<link href="./CSS/mystyle.css" rel="stylesheet" type="text/css">
</head>

<!-- NOTA: togliendo novalidate nel form si aggiunge un ulteriore livello di validazione -->
<body>
<div th:id="main_container">
	
	<!-- Navigation -->
	<div th:replace="fragments/header :: header">Header</div>
	
	<!-- Page Content -->
	<div class="container-fluid p-4">
		<h1>Registration</h1><br>
		<!-- Error Handling -->
		<div class="alert alert-dismissable" th:classappend="'alert-danger'" th:if="${#fields.hasErrors('${command.*}')}">
			<button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
			<h6 class="alert-heading">Request contains errors. Please try again</h6>
			<ul>
				<li th:each="err : ${#fields.detailedErrors('${command.*}')}" th:text="${err.fieldName} + '-' + ${err.message}">Input is incorrect
				</li>
			</ul>
		</div>
		<form class="needs-validation" method="post" th:action="@{/register}" th:object="${command}" novalidate> <!--novalidate-->
			<div class="row mb-0" id="1st_line">
				<div class="form-group col-auto">
					<label th:for="name">First Name</label>
					<input class="form-control" placeholder="Name" required th:field="*{name}" type="text">
					<span class="error" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name errors</span>
					<div class="valid-feedback">
						Looks good!
					</div>
					<div class="invalid-feedback">
						Please provide a valid name.
					</div>
				</div>
				<div class="form-group col-auto">
					<label th:for="surname">Last name</label>
					<input class="form-control" placeholder="Surname" required th:field="*{surname}" type="text">
					<span class="error" th:errors="*{surname}" th:if="${#fields.hasErrors('surname')}">Last name errors</span>
					<div class="valid-feedback">
						Looks good!
					</div>
					<div class="invalid-feedback">
						Please provide a valid last name.
					</div>
				</div>
			</div>
			<div class="row mb-0" id="2nd_line">
				<div class="form-group col-auto">
					<label th:for="surname">Email</label>
					<div class="input-group mr-sm-1">
						<div class="input-group-prepend">
							<div class="input-group-text">@</div>
						</div>
						<input class="form-control" th:placeholder="'At least '+${minlength}+' characters'" required th:field="*{email}" type="email">
					</div>
					<small class="form-text text-muted">We'll never share your email with anyone else. </small>
					<span class="error" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email errors</span>
					<div class="valid-feedback">
						Looks good!
					</div>
					<div class="invalid-feedback">
						Please choose a username.
					</div>
				</div>
			</div>
			<div class="form-row mb-1" id="3rd_line">
				<div class="form-group col-md-3 mr-4">
					<label th:for="password1">Password</label>
					<input class="form-control" th:placeholder="'At least '+${minlength}+' characters'" required th:field="*{password1}"
					       type="password">
					<span class="error" th:errors="*{password1}" th:if="${#fields.hasErrors('password1')}">Password1 errors</span>
					<div class="valid-feedback">
						Looks good!
					</div>
					<div class="invalid-feedback">
						Please provide a valid password.
					</div>
				</div>
				<div class="form-group col-md-3">
					<label th:for="password2">Re-Enter Password</label>
					<input class="form-control" placeholder="Must be the same" required th:field="*{password2}" type="password">
					<div class="error" th:errors="*{password2}" th:if="${#fields.hasErrors('password2')}">Password2 errors</div>
				</div>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					Please provide a valid password.
				</div>
			</div>
			<div class="form-group" id="checkbox_line">
				<div class="form-check">
					<input class="form-check-input" th:field="*{privacy}" type="checkbox">
					<label class="form-check-label" th:for="privacy">
						<span title="Autorizzo il trattamento dei miei dati personali presenti nel cv ai sensi dell’art. 13 del Decreto Legislativo 30 giugno 2003, n. 196 “Codice in materia di protezione dei dati personali” e dell’art. 13 del GDPR (Regolamento UE 2016/679).">Agree to privacy terms and conditions</span>
					</label>
				</div>
				<div class="error" th:errors="*{privacy}" th:if="${#fields.hasErrors('privacy')}"></div>
				<div class="invalid-feedback">
					You must agree before submitting.
				</div>
			</div>
			<div class="col-md-6 mb-1" id="final_buttons">
				<button class="btn btn-secondary m-1" type="reset">Reset</button>
				<button class="btn btn-primary m-1" type="submit">Submit</button>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer">Footer</div>
</div>
<!-- Bootstrap core JavaScript - Optional JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>