<h1 mat-dialog-title class="text-center mb-3">Team proposal</h1>
Members:
<ul>
  <li> ({{idStringLoggedStudent}}) - idStringLoggedStudent user</li>
  <li *ngFor="let el of data.members"> ({{el.id}}) - {{el.firstName}} {{el.lastName}} {{el.email}}</li>
</ul>
<form #cf="ngForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-3" [noValidate]="checkboxNoValidate">
  <div>
    <mat-form-field class="form-group">
      <mat-label>Name Team</mat-label>
      <input matInput #name="ngModel" name="namet" [(ngModel)]="nameTeam" required pattern="^(?!\s*$).+">
      <mat-error *ngIf="name.invalid && !name.pristine">Team name is required, can't be blank</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label>Timeout</mat-label>
      <input matInput #timeout="ngModel" name="timeout" [(ngModel)]="hoursTimeoutTeam" required type="number">
      <mat-error *ngIf="timeout.invalid && !timeout.pristine">Timeout is required</mat-error>
    </mat-form-field>
  </div>
  <br>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-button [disabled]="(!cf.valid || cf.pristine) && !checkboxNoValidate">
      Add
    </button>
    <button type="button" mat-button (click)="onCancelClick()">
      Cancel
    </button>
    <mat-checkbox style="margin: 2px" name="noval" [(ngModel)]="checkboxNoValidate" *ngIf="showCheckboxNoValidateForTesting"> Form No Validate</mat-checkbox>
  </div>
</form>
