<!-- TODO: la struttura che voglio ottenere avrá un componente che racchiude tutte le tab, possibilmente al posto di studentcont,
e che gestisce tutto il caricamento e gestione delle tabs stesse, anche in relazione al corso. mat-sidenav-content vá spostata nel container
Per la sidenav, forse éil caso di creare un nuovo componente a parte per la stessa-->

  <!--    <mat-tab-group>-->
  <nav mat-tab-nav-bar>
    <!--    [routerLinkActiveOptions]="{ exact: true }"-->
    <!--    "['/teacher", 'course', courseId, 'students', {details: true}]"-->
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="[link.path]"
       routerLinkActive
       #rla="routerLinkActive"
       [active]="rla.isActive"
       [routerLinkActiveOptions]="{exact:false}">
      {{link.label}}
      <!-- + {{rla.isActive}}-->
    </a>
  </nav>
<div class="container" name="tab_content">
  <router-outlet></router-outlet>
</div>
