<!-- Used with Thymeleaf fragments (layouts), as navigation bar-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Navigation -->
<div id="nav_container" th:fragment="header">
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark static-top">
		<div class="container">
			<a class="navbar-brand" href="https://www.polito.it/">
				<!--		Folder root path is in the static directory! It's a thymeleaf setting -->
				<img alt="Logo" height="40" src="./images/polito_logo.png" title="Logo" width="40"/>
			</a>
			<p style="color: wheat; padding-left: 5px; margin-left: 5px" th:if="${!session.isEmpty()}" th:text="'Hello, ' + ${session.username}"></p>
			
			<button class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<!--/*@thymesVar id="currentPageNav" type=""*/-->
					<li class="nav-item" th:classappend="${currentPageNav == 'home' ? 'active' : ''}">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item" th:classappend="${currentPageNav == 'register' ? 'active' : ''}">
						<a class="nav-link" href="/register">Register</a>
					</li>
					<li class="nav-item" th:classappend="${currentPageNav == 'private' ? 'active' : ''}">
						<a class="nav-link" href="/private">Private</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>

</body>
</html>
