<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>
<mat-toolbar>Applicazioni internet</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" opened position="start">
    <div class="container-small">
      <mat-nav-list>
        <mat-list-item *ngFor="let course of courses">
          <span>{{course}}</span>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-tab-group>
      <mat-tab label="Studenti">
        <div class="container">
          <app-students [enrolledStudents]="enrolledStudents" [allStudents]="allStudents"></app-students>
        </div>
      </mat-tab>
      <mat-tab label="Gruppi">
        <div class="container">
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
