table {
  width: 100%;
}

input {
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  border: transparent;
}

div.student_tab {
  padding: 20px;
}

form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

mat-form {
  width: auto;
}

mat-form-field {
  width: 70%;
}

img {
  vertical-align: middle;
  margin-right: 8px;
  margin-left: 8px;
}
