<p *ngIf="showCheckboxSelectAllToolbar || showCheckboxDeselectAllToolbar">
  <mat-toolbar
    style="font-family: 'Roboto,RobotoDraft,Helvetica,Arial,sans-serif', serif; -webkit-justify-content: center;">
    <div *ngIf="showCheckboxSelectAllToolbar; else elseRemoveAllDialog">
      All {{dataSource.paginator.pageSize}} students on this page are selected.
      <a (click)="checkboxSetAll(true)"
         [routerLink]=""
         queryParamsHandling="preserve">Select all {{dataSource.data.length}}
      </a>
    </div>
    <ng-template #elseRemoveAllDialog>All {{dataSource.data.length}} enrolled students are selected.
      <a (click)="checkboxSetAll(false)"
         [routerLink]=""
         queryParamsHandling="preserve">Clear selection
      </a>
    </ng-template>
  </mat-toolbar>
</p>

<div class="student_tab">
  <form>
    <mat-form-field>
      <mat-label>Add student</mat-label>
      <input #input [formControl]="myControl" [matAutocomplete]="auto"
             matInput
             placeholder="Name of the student"
             type="text">
      <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)="autocompleteSaveOption($event)"
                        [displayWith]="autocompleteDisplayFunction">
        <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
          <img aria-hidden="true" [src]="flag" height="25" alt="photo">
          {{option.firstName}} {{option.lastName}} ({{option.id}})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!--    tolto $event da parametro studentsAdd, perché prende il dato da aggiornare da saveOption. Forse-->
    <button (click)="studentsAdd(); input.value=''" mat-button matSuffix>Add</button>
    <br>
    <button (click)="studentsRemove()" mat-button>Delete selected</button>
  </form>

  <table (matSortChange)="sortChange($event)" [dataSource]="dataSource" mat-table matSort>
    <ng-container matColumnDef="select">
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox (change)="checkboxSetAllPage($event.checked)"
                      [checked]="checkboxMasterCompleted"
                      [indeterminate]="checkboxMasterIndeterminate">
        </mat-checkbox>
      </th>
      <td *matCellDef="let element" mat-cell>
        <mat-checkbox
          (change)="checkboxChangeSelection($event,element.id)"
          [checked]="checkboxIsChecked(element.id)"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container *ngFor="let column of displayedColumnsTable | slice:1;let i = index" matColumnDef="{{column}}">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> {{column}}</th>
      <td *matCellDef="let element" mat-cell> {{element[column]}} </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumnsTable" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumnsTable;" mat-row></tr>
  </table>

  <mat-paginator [length]="length"
                 [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="pageSize"
                 (page)="paginatorUpdate()"
                 showFirstLastButtons>
  </mat-paginator>
</div>
