<div class="student_div">
  <h3>Students enrolled in the course</h3>
  <br>

  <form class="example-form">
    <!--TODO: rivedere codice autocomplete, e controllare che compaia quando si seleziona -->
    <!--    TODO: c'é da rivedere la parte angular material su autocomplete, form field, angular reactive forms e slides form AI-->
    <mat-form-field>
      <input type="text" matInput #input
             [formControl]="myControl"
             [matAutocomplete]="auto"
             placeholder="Name of the student">
      <mat-label>Add student</mat-label>
      <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)="autocompleteSaveOption($event)"
                        [displayWith]="autocompleteDisplayFunction">
        <mat-option *ngFor="let option of filteredOptions$ | async"
                    [value]="option">{{option.firstName}} {{option.lastName}}
          ({{option.id}})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!--    tolto $event da parametro studentsAdd, perché prende il dato da aggiornare da saveOption. Forse-->
    <button mat-button matSuffix (click)="studentsAdd(); input.value=''">Add</button>
    <br>
    <button mat-button (click)="studentsRemove()">Delete selected</button>
  </form>

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <!--        TODO: codice checkbox da ricontrollare e verificare. Notare come master funziona su tutte le checkbox, anche quelle nascoste -->
        <mat-checkbox (click)="checkboxToggleMaster(); $event.preventDefault()"
                      [checked]="checkboxIsChecked('master')"
                      [indeterminate]="checkboxIsIndeterminate()"></mat-checkbox>
      </th>
      <!--                      (change)="checkboxToggleMaster($event)"-->
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (change)="checkboxToggleRow($event,element.id)"
                      [checked]="checkboxIsChecked(element.id)"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="{{displayedColumnsTable[1]}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedColumnsTable[1]}}</th>
      <td mat-cell *matCellDef="let element"> {{element[displayedColumnsTable[1]]}} </td>
    </ng-container>
    <ng-container matColumnDef="{{displayedColumnsTable[2]}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedColumnsTable[2]}}</th>
      <td mat-cell *matCellDef="let element"> {{element[displayedColumnsTable[2]]}} </td>
    </ng-container>
    <ng-container matColumnDef="{{displayedColumnsTable[3]}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedColumnsTable[3]}}</th>
      <td mat-cell *matCellDef="let element"> {{element[displayedColumnsTable[3]]}} </td>
    </ng-container>
    <ng-container matColumnDef="{{displayedColumnsTable[4]}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedColumnsTable[4]}}</th>
      <td mat-cell *matCellDef="let element"> {{element[displayedColumnsTable[4]]}} </td>
    </ng-container>
    <!--    matHeaderRowDef error/bug will be fixed in next version of webstorm-->
    <tr mat-header-row *matHeaderRowDef="displayedColumnsTable"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsTable;"></tr>
  </table>

  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 showFirstLastButtons></mat-paginator>
</div>
