<div [hidden]="hideAllGUItillActiveTeamIsChecked">
  <div *ngIf="activeTeam != null" style="padding: 20px"><h1 style="text-align: center">{{activeTeam.name}}</h1>
    <h2>Members</h2>
    <ul>
      <li *ngFor="let s of activeTeam.students; index as i">
        ({{s.id}}) {{s.firstName}} {{s.lastName}} {{s.email}}
      </li>
    </ul>
    <h2>Team Details</h2>
    <ul>
      <li>Id: {{activeTeam.id}}</li>
      <li>Max VCPU: {{activeTeam.maxVcpu}}</li>
      <li>Max Size Disk: {{activeTeam.maxDisk}}</li>
      <li>Max RAM: {{activeTeam.maxRam}}</li>
      <li>Max Running VM: {{activeTeam.maxRunningVM}}</li>
      <li>Max TOT VM: {{activeTeam.maxTotVM}}</li>
    </ul>
  </div>
  <div [hidden]="activeTeam != null">
    <h2 style="margin-left: 25px; margin-right: 5px">Available students
      <button mat-raised-button color="primary" (click)="openProposeTeamDialog()" style=" float: right;">
        <mat-icon>playlist_add</mat-icon>
        Propose new team
      </button>
    </h2>
    <table mat-table matSort [dataSource]="dataSourceEnrolledNoTeams" class="mat-elevation-z8">
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <!--        <mat-checkbox (change)="$event ? checkboxMasterToggle() : null"-->
          <!--                      [checked]="selection.hasValue() && checkboxIsAllSelected()"-->
          <!--                      [indeterminate]="selection.hasValue() && !checkboxIsAllSelected()">-->
          <!--        </mat-checkbox>-->
          <mat-checkbox disabled (click)="selection.clear()"></mat-checkbox>
        </th>
        <td *matCellDef="let rowStudent" mat-cell>
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? checkboxChangeSelection(rowStudent) : null"
                        [checked]="selection.isSelected(rowStudent)" [disabled]="checkboxDisableMinMax(rowStudent)"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>firstName</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>lastName</th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsTable1; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsTable1;"></tr>
    </table>
    <mat-paginator pageSize="5" [pageSizeOptions]="[2, 5, 10, 15, 20, 50, 200]" showFirstLastButtons></mat-paginator>

    <br>

    <div id="part2">
      <h2 style="margin-left: 25px; margin-right: 5px">Team Proposals
        <button mat-raised-button color="warn" (click)="removeDisabledTeams()" style=" float: right;">
          <mat-icon>delete_sweep</mat-icon>
          Delete expired
        </button>
      </h2>
      <table mat-table [dataSource]="dataSourceTeams" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="nav">
          <th *matHeaderCellDef mat-header-cell>
          </th>
          <td *matCellDef="let element" mat-cell>
            <mat-icon *ngIf="expandedElement && element == expandedElement">expand_less</mat-icon>
            <mat-icon *ngIf="!(expandedElement && element == expandedElement)">expand_more</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="proposer">
          <th *matHeaderCellDef mat-header-cell>proposer</th>
          <td *matCellDef="let element" mat-cell>
            {{element?.students[0]?.firstName + ' ' + element?.students[0]?.lastName}}
          </td>
        </ng-container>
        <ng-container matColumnDef="confirm">
          <th *matHeaderCellDef mat-header-cell>confirm</th>
          <td *matCellDef="let element; let k = dataIndex" mat-cell>
            <a *ngIf="loggedUserStudent?.id != dataSourceTeams.data[k]?.students[0]?.id" mat-stroked-button href="{{element?.students[indexLoggedUser[k]]?.urlTokenConfirm}}" target="_blank">Link</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="reject">
          <th *matHeaderCellDef mat-header-cell>reject</th>
          <td *matCellDef="let element; let k = dataIndex" mat-cell>{{k}}{{indexLoggedUser[k]}}{{element.id}}
            <a *ngIf="loggedUserStudent?.id != dataSourceTeams?.data[k]?.students[0]?.id" mat-stroked-button [href]="element?.students[indexLoggedUser[k]]?.urlTokenReject" target="_blank">Link</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToLoadFromTeam">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{column == 'createdDate' ? (element[column] | date:'medium') : element[column]}}</td>
        </ng-container>
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail" id="innerExpandedTable">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayStudent.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <table mat-table matSort [dataSource]="element.students">
                <ng-container matColumnDef="id">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef>Id</th>
                  <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef>firstName</th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>
                <ng-container matColumnDef="lastName">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef>lastName</th>
                  <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef>email</th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplayStudent; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplayStudent;"
                    [style]="row.proposalAccepted == true ? 'background-color: limegreen' :
                      (row.proposalRejected == true ? 'background-color: crimson' : null)"></tr>
              </table>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayProposals"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayProposals"
            [class]="element.disabled ? 'disabled' : 'example-element-row'"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = element.disabled ? expandedElement : ((expandedElement === element) ? null : element)">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </div>
  </div>
</div>
