.table-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

mat-form-field {
  max-width: 450px;
  width: 70%;
}

select, input, button {
  border: none;
  outline: none;
}

.mat-column-select {
  overflow: initial;
}
