/* TODO: Sistemare tutti i vari CSS (...)*/
mat-sidenav-container {
  margin: 2px;
  height: 100%;
}

mat-sidenav {
  width: 250px;
  flex: 0 1 auto;
  /*position: sticky;*/
  top: 0;
  z-index: 1;
}

mat-list-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.not-active {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline. none */
}

.active-link {
  font-weight: bold;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
