<h1 mat-dialog-title class="text-center mb-3">{{data?.courseName}}</h1>
<form #cf="ngForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-3"
      [noValidate]="noValidateForTesting">
  <div mat-dialog-content>
    <mat-form-field class="form-group">
      <mat-label>Id</mat-label>
      <input matInput #id="ngModel" name="id" [(ngModel)]="course.id" required readonly> <!--disabled-->
      <mat-hint>read only</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label>Full name</mat-label>
      <input matInput #name="ngModel" name="name" [(ngModel)]="course.fullName" required pattern="^(?!\s*$).+">
      <!--class="form-control"-->
      <mat-error *ngIf="name.invalid && !name.pristine">Name is required, can't be blank</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label>Status</mat-label>
      <mat-select #status="ngModel" name="status" [(ngModel)]="course.enabled" required>
        <mat-option [value]="true">true</mat-option>
        <mat-option [value]="false">false</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label>Min size teams</mat-label>
      <input matInput #min="ngModel" name="min" [(ngModel)]="course.minSizeTeam" type="number" required pattern="\d+">
      <mat-error *ngIf="min.invalid && !min.pristine">Must be positive or zero</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label>Max size teams</mat-label>
      <input matInput #max="ngModel" name="max" [(ngModel)]="course.maxSizeTeam" type="number" required
             pattern="[1-9]\d*">
      <mat-error *ngIf="max.invalid && !max.pristine">Must be positive (not zero)</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label>Vm Model</mat-label>
      <input matInput #vmp="ngModel" name="vmp" [(ngModel)]="course.vmModelPath">
    </mat-form-field>
    <div class="custom-file form-group">
      <input type="file" class="custom-file-input" id="importFile" (change)="onFileChanged($event)">
      <label class="custom-file-label" for="importFile">Choose Vm Model file</label>
    </div>
  </div>
  <br>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-button
            [disabled]="(!cf.valid || cf.pristine) && !noValidateForTesting">Save
    </button>
    <button type="button" mat-button (click)="onCancelClick()">Cancel</button>
    <mat-checkbox style="margin: 2px" name="noval" [(ngModel)]="noValidateForTesting"
                  *ngIf="showNoValidateCheckboxForTesting">Form No Validate
    </mat-checkbox>
  </div>
</form>
