<h1 mat-dialog-title class="text-center mb-3">Create new Virtual Machine</h1>
<form #cf="ngForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-3" [noValidate]="checkboxNoValidate">
  <div>
    <mat-form-field class="form-group">
      <mat-label>Vcpu</mat-label>
      <input matInput #vcpu="ngModel" name="vcpu" [(ngModel)]="vm.vcpu" required type="number" pattern="[1-9][0-9]{0,9}" autocomplete="on">
      <mat-error *ngIf="vcpu.invalid && !vcpu.pristine">Must be a positive number, and not zero</mat-error>
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>RAM</mat-label>
      <input matInput #ram="ngModel" name="ram" [(ngModel)]="vm.ram" required type="number" pattern="[1-9][0-9]{0,9}" autocomplete="on">
      <mat-error *ngIf="ram.invalid && !ram.pristine">Must be a positive number, and not zero</mat-error>
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>Disk</mat-label>
      <input matInput #disk="ngModel" name="disk" [(ngModel)]="vm.disk" required type="number" pattern="[1-9][0-9]{0,9}" autocomplete="on">
      <mat-error *ngIf="disk.invalid && !disk.pristine">Must be a positive number, and not zero</mat-error>
    </mat-form-field>
  </div>
  <br>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-button [disabled]="(!cf.valid) && !checkboxNoValidate">Create</button>
    <button type="button" mat-button (click)="onCancelClick()">Cancel</button>
    <mat-checkbox style="margin: 2px" name="noval" [(ngModel)]="checkboxNoValidate" *ngIf="showCheckboxNoValidateForTesting">Form No Validate</mat-checkbox>
  </div>
</form>
