<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a routerLink="/home" class="not-active">{{title}}</a>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <button mat-button type="button" *ngIf="isLogged">a{{loggedUser}}</button>
  <button mat-button
          type="button"
          aria-label="login and logout"
          (click)="clickLoginLogout()">
    {{isLogged == true ? 'Logout' : 'Login'}}
  </button>
</mat-toolbar>

<mat-toolbar>Applicazioni Internet</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer mode="side" opened position="start">
    <div>
      <mat-nav-list>
        <mat-list-item *ngFor="let course of courses">
          <a mat-list-item
             routerLink="teacher/course/{{course.id}}"
             routerLinkActive="active-link"
             #rla="routerLinkActive">
            {{course.label}}
            <!--+ {{rla.isActive}}-->
          </a>
        </mat-list-item>
      </mat-nav-list>

    </div>
  </mat-sidenav>

  <router-outlet></router-outlet>

</mat-sidenav-container>
