<!-- TODO: la struttura che voglio ottenere avrá un componente che racchiude tutte le tab, possibilmente al posto di studentcont,
e che gestisce tutto il caricamento e gestione delle tabs stesse, anche in relazione al corso. mat-sidenav-content vá spostata nel container
Per la sidenav, forse éil caso di creare un nuovo componente a parte per la stessa-->
<mat-sidenav-content>
  <!--    <mat-tab-group>-->
  <nav mat-tab-nav-bar>
    <!--    [routerLinkActiveOptions]="{ exact: true }"-->
    <!--    "['/teacher/course/1/students']"-->
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="[link.path]"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
    <!--            <mat-tab label="VMs">-->
    <!--            </mat-tab>-->
    <!--            <mat-tab label="Assignments">-->
    <!--            </mat-tab>-->
    <!--            <mat-tab label="Groups">-->
    <!--              <div class="container">-->
    <!--              </div>-->
    <!--            </mat-tab>-->
  </nav>
  <div class="container">
    <!--     [courseId]="selectedId" not working on router outlet-->
    <router-outlet [title]="title"></router-outlet>
    <!--    <app-groups-cont></app-groups-cont>-->
    <!--      <app-students-cont></app-students-cont>-->
  </div>
</mat-sidenav-content>
