<mat-sidenav-content>
  <!--    <mat-tab-group>-->
  <nav mat-tab-nav-bar>
    <!--    [routerLinkActiveOptions]="{ exact: true }"-->
    <!--    "['/teacher", 'course', courseId, 'students', {details: true}]"-->
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="[link.path]"
       routerLinkActive
       #rla="routerLinkActive"
       [active]="rla.isActive"
       [routerLinkActiveOptions]="{exact:false}">
      {{link.label}}
      <!-- + {{rla.isActive}}-->
    </a>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-content>
