<p *ngIf="showCheckboxSelectAll || showCheckboxDeselectAll">
  <mat-toolbar id="gmail-like-toolbar">
    <div *ngIf="showCheckboxSelectAll; else elseRemoveAllDialog">
      All {{dataSource.paginator.pageSize}} students on this page are selected.
      <a (click)="checkboxSetAll(true)"
         [routerLink]=""
         queryParamsHandling="preserve">Select all {{dataSource.data.length}}
      </a>
    </div>
    <ng-template #elseRemoveAllDialog>All {{dataSource.data.length}} enrolled students are selected.
      <a (click)="checkboxSetAll(false)"
         [routerLink]=""
         queryParamsHandling="preserve">Clear selection</a>
    </ng-template>
  </mat-toolbar>
</p>

<div name="CSV input">
  <form enctype="multipart/form-data" method="POST">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" (click)="onCSVUpload()" [disabled]="ucsv.invalid || ucsv.pristine">Upload</button>
      </div>
      <div class="custom-file">
        <input type="file" accept=".csv" class="custom-file-input" id="importFile" #ucsv="ngModel" [(ngModel)]="resetInputCsvElement" name="csv" (change)="onFileCsvChanged($event)" required>
        <label class="custom-file-label" for="importFile" #labelFileCsv>choose CSV file</label>
      </div>
    </div>
  </form>
</div>

<div>
  <form name="header-table">
    <mat-form-field>
      <mat-label>Add student</mat-label>
      <input #input [formControl]="autocompleteControl" [matAutocomplete]="auto"
             matInput
             placeholder="Name of the student"
             type="text">
      <mat-autocomplete #auto="matAutocomplete"
                        (optionSelected)="autocompleteSaveOption($event)"
                        [displayWith]="autocompleteDisplayFunction">
        <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
          {{option.lastName}} {{option.firstName}} ({{option.id}})
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!--    tolto $event da parametro studentsAdd, perché prende il dato da aggiornare da saveOption. -->
    <button (click)="studentsAdd(); input.value=''" mat-button matSuffix matTooltip="Add selected student">
      <mat-icon id="person_add_icon">person_add</mat-icon>
    </button>
    <button (click)="studentsRemove()" mat-button>Delete selected</button>
  </form>

  <div name="tableWithPaginator" class="mat-elevation-z8">
    <table (matSortChange)="sortChange($event)" [dataSource]="dataSource" mat-table matSort>
      <!-- Select column-->
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="checkboxSetAllPage($event.checked)"
                        [checked]="checkboxMasterCompleted"
                        [indeterminate]="checkboxMasterIndeterminate">
          </mat-checkbox>
        </th>
        <td *matCellDef="let element" mat-cell>
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="checkboxChangeSelection($event,element.id)"
            [checked]="checkboxIsChecked(element.id)"></mat-checkbox>
        </td>
      </ng-container>
      <!-- Rest of the table. Slice used because we dont need 'select' here -->
      <ng-container *ngFor="let column of displayedColumnsTable | slice:1;let i = index" matColumnDef="{{column}}">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> {{column}}</th>
        <td *matCellDef="let element" mat-cell> {{element[column]}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumnsTable" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumnsTable;" mat-row></tr>
    </table>
    <mat-paginator [length]="length"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize"
                   (page)="paginatorUpdate()"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
