<h1 mat-dialog-title class="text-center mb-3">Create Virtual Labs Account</h1>
<form #cf="ngForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-3" [noValidate]="checkboxNoValidate">
  <div>
    <mat-form-field class="form-group">
      <mat-label>Id</mat-label>
      <input matInput #id="ngModel" name="id" [(ngModel)]="user.id" required pattern="^(?!\s*$).+">
      <mat-hint>must be unique</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label>First name</mat-label>
      <input matInput #first="ngModel" name="first" [(ngModel)]="user.firstName" required pattern="^(?!\s*$).+">
      <!--class="form-control"-->
      <mat-error *ngIf="first.invalid && !first.pristine">First Name is required, can't be blank</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label>Last name</mat-label>
      <input matInput #last="ngModel" name="last" [(ngModel)]="user.lastName" required pattern="^(?!\s*$).+">
      <mat-error *ngIf="last.invalid && !last.pristine">Last Name is required, can't be blank</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="form-group">
      <mat-label>Email</mat-label>
      <input matInput #email="ngModel" name="email" [(ngModel)]="user.email" type="email" required
             [pattern]="isStudentRadio==true ? 's[0-9]{1,9}@studenti\.polito\.it' : 's[0-9]{1,9}@polito\.it'">
      <mat-error *ngIf="email.invalid && !email.pristine">Email is required. Must be s000000@polito.it or s000000@studenti.polito.it</mat-error>
    </mat-form-field>
    <!--    [formControl]="isStudentRadio" -->
    <mat-radio-group #isstudent="ngModel" name="isstudent" [(ngModel)]="isStudentRadio" required>
      <mat-radio-button value="1">Student</mat-radio-button>
      <mat-radio-button value="0">Professor</mat-radio-button>
    </mat-radio-group>
    <br>
  </div>
  <br>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-button
            [disabled]="(!cf.valid || cf.pristine) && !checkboxNoValidate">Sign up
    </button>
    <button type="button" mat-button (click)="onCancelClick()">Cancel</button>
    <mat-checkbox style="margin: 2px" name="noval" [(ngModel)]="checkboxNoValidate" *ngIf="showCheckboxNoValidateForTesting">Form No Validate</mat-checkbox>
  </div>
</form>
