<h2 style="margin-left: 25px; margin-right: 5px">Virtual Machines
  <button mat-raised-button color="primary" (click)="openCreateVmDialog()" style=" float: right;">
    <mat-icon>playlist_add</mat-icon>
    Create new VM
  </button>
</h2>
<table mat-table [dataSource]="dataSourceVms" class="mat-elevation-z8">
  <ng-container matColumnDef="creator">
    <th *matHeaderCellDef mat-header-cell>creator</th>
    <td *matCellDef="let element" mat-cell>{{element.creator.firstName}} {{element.creator.lastName}}
    </td>
  </ng-container>
  <ng-container matColumnDef="active">
    <th *matHeaderCellDef mat-header-cell>isActive</th>
    <td *matCellDef="let element" mat-cell>{{element.active}}
    </td>
  </ng-container>
  <ng-container matColumnDef="imageVm">
    <th *matHeaderCellDef mat-header-cell>direct link image</th>
    <td *matCellDef="let element" mat-cell>
      <a mat-stroked-button href="{{element.imageVm.directLink}}" target="_blank">Open</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="on">
    <th *matHeaderCellDef mat-header-cell>activate</th>
    <td *matCellDef="let element" mat-cell>
      <button mat-stroked-button [color]="element.active == true ? 'primary' : ''" (click)="changeStatusVm.emit({id: element.id, status: true})">
        <mat-icon>power</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="off">
    <th *matHeaderCellDef mat-header-cell>deactivate</th>
    <td *matCellDef="let element" mat-cell>
      <button mat-stroked-button [color]="element.active == false ? 'primary' : ''" (click)="changeStatusVm.emit({id: element.id, status: false})">
        <mat-icon>power_off</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th *matHeaderCellDef mat-header-cell>delete vm</th>
    <td *matCellDef="let element" mat-cell>
      <button mat-stroked-button color="warn">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th *matHeaderCellDef mat-header-cell>edit resources</th>
    <td *matCellDef="let element" mat-cell>
      <button mat-stroked-button>
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplayVm"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayVm">
  </tr>
</table>
