<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <form autocomplete="off" novalidate [formGroup]="form">
    <mat-error *ngIf="form.controls.serial.errors?.required || form.controls.password.errors?.required"> Missing required fields.</mat-error>
    <mat-error *ngIf="form.errors?.fakeName">Username and password must be different!</mat-error>
    <br>
    <mat-form-field>
      <mat-label>Username (serial):</mat-label>
      <input matInput placeholder="serial" name="serial" formControlName="serial">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Password:</mat-label>
      <input matInput placeholder="password" name="password" formControlName="password" type="password" autocomplete="off">
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="login()" style="margin-right: 1px">Login</button>
  <button mat-button (click)="onCancelClick()" style="margin-right: 1px">Cancel</button>
</div>
