<div id="top-header-toolbar">
  <mat-toolbar color="primary">
    <button id='toolbar-button'
            type="button" aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a routerLink="/home" class="title-link-not-active">{{title}}</a>
    <a id="TestingPageLink-devOnly" routerLink="/testing" style="padding-left: 10px; color: chartreuse" *ngIf="devShowTestingComponents">Test Page</a>
    <a irouterLink="/testing" style="padding-left: 10px; color: chartreuse" >Test Page</a>
      <img d="showProfilePhoto-devOnly" *ngIf="devShowTestingComponents && retrievedImage" [src]="retrievedImage" width="100px" height="80px">

    <span class="fill-remaining-space-header"></span>

    <button mat-button type="button" style="color: chartreuse">Test</button>
    <button mat-button type="button" (click)="openRegisterDialog()">Register</button>
    <!--    <button mat-button type="button" *ngIf="loggedUser == ''">Register</button>-->
    <button mat-button type="button" *ngIf="isLogged">{{loggedUser}}</button>
    <!--  <button mat-button type="button"-->
    <!--          (click)="openLoginDialogTemplate()">    {{isLogged}}-Test-->
    <!--  </button>-->
    <button mat-button
            type="button" aria-label="login and logout"
            (click)="clickLoginLogout()">
      {{isLogged == true ? 'Logout' : 'Login'}}
    </button>
  </mat-toolbar>
</div>

<div id="sub-top-toolbar">
  <mat-toolbar *ngIf="nameActiveCourse">{{nameActiveCourse}}</mat-toolbar>
  <ngb-alert *ngIf="alertNgb" [type]="alertNgb?.type" (close)="closeAlert()">{{alertNgb?.message}}</ngb-alert>
</div>

<mat-sidenav-container>
  <mat-sidenav #drawer mode="side" opened position="start">
    <mat-accordion multi="false" #acc>
      <mat-nav-list>
        <mat-list-item id="add-course-button" (click)="openAddCourseDialog()">
          <button mat-raised-button>
            <mat-icon>add_circle</mat-icon>
            Add course
          </button>
        </mat-list-item>
        <!--    TODO: modificare lista corsi, e permessi di edit/delete, in base a login/auth (professor sees all, student only enrolled ones)-->
        <mat-nav-list *ngFor="let course of courses; index as i">
          <mat-expansion-panel togglePosition="before" [class.mat-elevation-z0]="true" dense
                               [(expanded)]="panelOpenState[i]"
                               routerLink="teacher/course/{{course.id}}">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a mat-list-item (click)="dontExpandPanelOnNameClick(i)" routerLinkActive="active-link-style"
                   [routerLinkActiveOptions]="{exact:true}">
                  {{course.fullName}}
                </a>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
              <a mat-list-item (click)="openEditCourseDialog()">
                <mat-icon>edit</mat-icon>
                Edit course</a>
              <a mat-list-item (click)="openDeleteCourseDialog()">
                <mat-icon id="delete-course-icon">delete_forever</mat-icon>
                Delete course</a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-nav-list>
      </mat-nav-list>
    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
