<mat-toolbar color="primary">
  <button id='toolbar-button'
          type="button" aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a routerLink="/home" class="title-link-not-active">{{title}}</a>
  <!--  TODO: remove on prod-->
  <a routerLink="/testing" style="padding-left: 10px; color: chartreuse">Test Page</a>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space-header"></span>

  <!--  <button mat-button type="button" *ngIf="loggedUser == ''">Register</button>-->
  <button mat-button type="button" *ngIf="isLogged">{{loggedUser}}</button>
  <button mat-button type="button"
          (click)="openLoginDialogTemplate()">    {{isLogged}}-Test
  </button>

  <button mat-button
          type="button" aria-label="login and logout"
          (click)="clickLoginLogout()">
    {{isLogged == true ? 'Logout' : 'Login'}}
  </button>
</mat-toolbar>

<mat-toolbar>{{nameActiveCourse}}</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer mode="side" opened position="start">
    <mat-accordion>
      <mat-nav-list>
        <mat-list-item routerLink="#" id="add-course-button">
          <mat-icon>add_circle</mat-icon>
          Add course
        </mat-list-item>
        <!--    TODO: modificare lista corsi, e permessi di edit/delete, in base a login/auth (professor sees all, student only enrolled ones)-->
        <mat-nav-list *ngFor="let course of courses">
          <mat-expansion-panel togglePosition="before" multi="false" [class.mat-elevation-z0]="true" dense>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a mat-list-item
                   routerLink="teacher/course/{{course.id}}"
                   routerLinkActive="active-link-style" [routerLinkActiveOptions]="{exact:true}">
                  {{course.fullName}}
                </a>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list dense>
              <a mat-list-item routerLink="#">
                <mat-icon>edit</mat-icon>
                Edit course</a>
              <a mat-list-item routerLink="#">
                <mat-icon id="delete-course-icon">delete_forever</mat-icon>
                Delete course</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <!--          <button-->
          <!--            type="button" aria-label="Menu course"-->
          <!--            mat-icon-button-->
          <!--            (click)="editCourse()">-->
          <!--            <mat-icon>edit</mat-icon>-->
          <!--          </button>-->
        </mat-nav-list>
      </mat-nav-list>
    </mat-accordion>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
