<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a routerLink="/home" class="not-active">{{title}}</a>
  <a routerLink="/testing" style="padding-left: 10px; color: chartreuse">Test Page</a>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space-header"></span>

  <!--  <button mat-button type="button" *ngIf="loggedUser == ''">Register</button>-->
  <button mat-button type="button" *ngIf="isLogged">{{loggedUser}}</button>
  <button mat-button type="button" aria-label="login and logout"
          (click)="openLoginDialogTemplate()">    {{isLogged}}-T
  </button>

  <button mat-button
          type="button"
          aria-label="login and logout"
          (click)="clickLoginLogout()">
    {{isLogged == true ? 'Logout' : 'Login'}}
  </button>
</mat-toolbar>

<mat-toolbar>{{nameActiveCourse}}</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer mode="side" opened position="start">
    <div>
      <mat-nav-list>
<!--    TODO: modificare lista corsi, e permessi di edit/delete, in base a login/auth -->
        <mat-list-item *ngFor="let course of courses">
          <button
            type="button"
            aria-label="Menu course"
            mat-icon-button
            (click)="editCourse()">
            <mat-icon>edit</mat-icon>
          </button>
          <a mat-list-item
             routerLink="teacher/course/{{course.id}}"
             routerLinkActive="active-link">
            {{course.fullName}}
          </a>
        </mat-list-item>
      </mat-nav-list>

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

